

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.eot');
    src: url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-Regular.woff2') format('woff2'),
        url('FiraSans-Regular.woff') format('woff'),
        url('FiraSans-Regular.ttf') format('truetype'),
        url('FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Italic.eot');
    src: url('FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-Italic.woff2') format('woff2'),
        url('FiraSans-Italic.woff') format('woff'),
        url('FiraSans-Italic.ttf') format('truetype'),
        url('FiraSans-Italic.svg#FiraSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-BoldItalic.eot');
    src: url('FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-BoldItalic.woff2') format('woff2'),
        url('FiraSans-BoldItalic.woff') format('woff'),
        url('FiraSans-BoldItalic.ttf') format('truetype'),
        url('FiraSans-BoldItalic.svg#FiraSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Bold.eot');
    src: url('FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-Bold.woff2') format('woff2'),
        url('FiraSans-Bold.woff') format('woff'),
        url('FiraSans-Bold.ttf') format('truetype'),
        url('FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
