
    <!-- your CONTENT here -->

    <section id="cover">
        <h1>Printing in&nbsp;Relation to&nbsp;Graphic&nbsp;Art</h1>
        <h2 id="author">George French</h2>
        <img src="src/images/typesetting.png" />
    </section>


    <section id="art-in-printing" class="chapter" data-chapter="1">

        <h1>Art in Printing</h1>

        <p>There is this vital difference between other objects of art and printing: That our  association with them is  purely voluntary, and that printing forces itself upon us at all times and in every relation of life. It is  impossible  for a person of intelligence to remove himself from the influence of printing. It confronts him at every  turn, and  in every relation of life it plays an important and insistent part.</p>
        <p>Such examples of art as a painting or a piece of statuary exert a certain influence upon a restricted number  of persons;  and it is at all times optional with all persons whether they submit themselves to the influence of such art  objects.  We are able to evade the influence of other forms of art, but we are not able to ward off printing. To it we  must  submit. It is constantly before our eyes; it is forever exerting its power upon our consciousness. It is  quite possible  that we may not at present be able to refer any quality of mind, or any degree of  cultivation, directly to printing, in any form it may have been presented to us; but it is easily  conceivable that printing  has a certain influence upon our esthetic life which has been so constant and so habitual as to have escaped  definite  recognition.</p>
        <p>If we engage our minds in some attempt to realize the quality and extent of pleasure and profit derivable  from the constant  influence of printing that conforms to artistic principles, we may perceive that it may be a most powerful  and effectual  agency for culture. It is understood that it is the gentle but constant influence that moulds our habits and  lives  the more readily and lastingly. If therefore it is possible for us to conceive that the printed page of a  book may  illustrate and enforce several of the more elemental and important principles underlying graphic art, we may  thereby  realize that printing may readily be employed in the character of a very powerful art educator, if because  of certain  inalienable limitations it must be denied full recognition as a member of the sisterhood of arts.</p>
        <p>The book page may be regarded as the protoplasm of all printing. If we examine the relation of principles of  art to the  book page we will be able to appreciate the exact importance of those principles in the composition of any  other form of printing, and to so apply them as to secure results most nearly relating printing to graphic  art.</p>
        <p>It is the chief characteristic of this uncertain dogma of art in printing that its limitations and variations  defy the  conventional forms of expression, and almost require a new vocabulary of art terms. It assuredly requires a  new and  a different comprehension of the terms of art, and a distinctly varied comprehension of the word art itself.  It has  ever been a stumbling block to printers that the word art as applied to their craft must be given a more  limited  significance than is given it in its usual acceptance. If we can come at some intelligible appreciation of  what we  mean by art in printing the way will be opened for the application of that motive to the work of the  presses.</p>
        <p>If we recognize at once the fact that we do not mean exactly what a painter means when we use the word art  with reference  to printing, we will have taken the vital step toward a comprehensible employment of the term, as well as  qualified  ourselves for an understanding of the results we desire to achieve.</p>
        <p>It is essential that we do not fall into the error of supposing that scientific accuracy is art. It is  destructive of  art, and the temptation to put too much stress upon exactitude is a mistake  the printer must guard himself from with the most sedulous care. It is agreeable to recognize the touch of  the artist, in  printing as in other arts, and scientific accuracy is certain to obliterate individuality. It is not the  cold, lifeless  abstraction, the shining exemplar of all the precepts and rules of art, that we love and desire, but the  human note  speaking through the principles and rules. If the artist is not the dominant note, and the rules submerged  by the  personality, there is no value in the object of art. The picture is interesting because the artist expresses  through  it his appreciation, his interpretation, of a beautiful thought or a lovely thing. This is what puts the  most faithful  photographs outside of the pale of art, and compels the idealization of the performance of the camera before  it can  be considered to be artistic. The photograph is not, usually, true to our view of life. If it is indeed true  to life  it represents a view of life that is quite strange to us, and often distasteful. We are not familiar with  the uncouth  animal the photograph shows us the horse in action to be, and we will not accept that caricature as the real  horse.  The horse that is real to us is the animal we see with our eyes, and the horse in art must be the animal we  see plus  the artist's logical idealization. The facts are the same with regard to nearly all of the  work of the camera, and with regard to other attempts at scientific accuracy in art. It is foreign to our  experience, and  does violence to our ideals. We actually see no such automatons as photography shows us men in action are,  and we  can never accept such disillusionment. If it is attempted in the name of art we will turn upon art and throw  it out  of our lives.</p>
  
    </section>


    <section id="pictorial-composition" class="chapter" data-chapter="2">

        <h1>Pictorial Composition</h1>

        <p>While too much science is often deadly to art, the true basis of pictorial  composition is rigidly scientific,  and all of the principles governing it are of use and importance to the printer, especially in planning  displayed  work and in title pages.</p>
        <p>Composition is that quality which gives a picture coherence, "the mortar of the wall." It was not esteemed of  importance  by the old masters, and many of their works do not show that they knew or cared for that which distinguishes  a picture  from a map, a group photograph, or a scientific diagram. It is the absence of composition, balance, unity,  that makes  ordinary photographs something other than true works of art. It is not primarily truth of representation  that is  necessary in a work of art, but truth of idealization; and that quality is beyond the conscious reach of the  camera's  lens. It is a redeeming and a justifying element added by the imagination of the artist. There may be a  picture, by a photographer or by a painter, having all the requisite component parts to make it a work of  art; there  may be, for example, a woman, an axe, a road, a mountain, trees; but these thrown together upon a canvas do  not make  a work of art unless they are properly composed, even if they are arranged in an order satisfying to the  realist,  and each faultlessly executed. It is not the same thing to paint and to make pictures; to print and to  execute artistic  printing.</p>
        <p>The application of the rules of composition to pieces of printing made up in a whole or in part of "display"  types is  obviously essential to their beauty. It is the touch of beauty given to science that produces art. In  printing the  matter of securing balance and unity is at once more simple and more difficult than in painting. The  component parts  to be dealt with are more rigid and restricted, but are purely conventional and precise. The painter's  conception  is given balance and unity through the original drawing and color-scheme corrected and perfected by constant  scrutiny  and by tests and continual alterations. The printed piece must be balanced by a wise choice and skilful  arrangement  of the types, and a careful distribution of white space and black ink, or color. The actual center of a  canvas is  the center of attraction in a picture perfectly balanced. This does not mean that an equal amount of paint  must be spread upon every  quarter of the canvas, nor that objects of equal visual importance in themselves must be equally distributed  over  it. A tiny dot of distinctive paint, placed a certain distance from the center of the canvas, may perfectly  balance  an object ten times its size which is placed relatively nearer the center. Balance in printing must not be  understood  to mean that there must be an equal distribution of weight over all quarters of the piece, but that there  must be  a compensatory distribution of weight.</p>
        <p>In his lucid and interesting book upon "Pictorial Composition" Mr. H. R. Poore gives a series of "postulates"  which embody  his ideas upon the subject, and are expressed in terms intelligible to the non-artistic as well as to those  whose  familiarity with art enables them to grasp more technical phrases. To the printer it is only necessary to  suggest  that he interpret "units" as meaning features in his work and he will be able to appreciate that these art  rules  may not infrequently stand him in good stead, especially when he is perplexed with some piece of work that  he is  having difficulty in making "look right." Those of Mr. Poore's "postulates" that appear to apply easily to  printing, and may be more profitably studied and heeded by printers and others interested in typography, are  here given:</p>
   
    </section>